{% extends "layout.html" %}
{% block content %}
    {% for post in posts.items %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{{ url_for("users.account") }}">{{ post.author.username }}</a>
              <small class="text-muted">ID: {{ post.id }}</small>
              <small class="text-muted"> - Created: {{ post.creation_time.strftime("%d-%m-%Y %H:%M:%S") }}</small>
            </div>
            <h2><a class="article-title" href="{{ url_for("time_expenses.time_expense", time_expense_id=post.id) }}">{{ post.project }}</a></h2>
            <small class="text-muted"><strong> Start Date: </strong>{{ post.start_date.strftime("%d-%m-%Y") }}</small><br>
            <small class="text-muted"><strong>End Date: </strong>{{ post.end_date.strftime("%d-%m-%Y") }}</small><br><br>
            <p class="article-content"><strong>Hours Worked: </strong>{{ post.hours_worked }}</p>
            <small class="article-content">{{ post.description }}</small>
          </div>
        </article>
    {% endfor %}
    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
        {% if  posts.page == page_num %}
          <a class="btn btn-info mb-4" href="{{ url_for("main.home", page=page_num) }}"> {{ page_num }}</a>
        {% else %}
          <a class="btn btn-outline-info mb-4" href="{{ url_for("main.home", page=page_num) }}"> {{ page_num }}</a>
        {% endif %}
      {% else %}
        ...
      {% endif %}
    {% endfor %}

{% endblock content %}